<div class="dashboard-container">
  <h1>Welcome to Your Dashboard, <%= @user.email %></h1>

  <!-- Toggle Buttons -->
  <div class="dashboard-toggle-buttons">
    <button id="lenderViewBtn" onclick="showLenderView()">Lender View</button>
    <button id="borrowerViewBtn" onclick="showBorrowerView()">Borrower View</button>
  </div>

<!-- Lender View -->
<div id="lenderView">
  <div class="dashboard-header-container">
    <h2 class="dashboard-header"><strong>Manage Your Boats</strong></h2>
    <%= link_to "Create New Boat", new_boat_path, class: "create-boat-btn" %>
  </div>

  <% if @boats.any? %>
    <div class="dashboard-boat-cards-container">
      <% @boats.each do |boat| %>
        <div class="dashboard-boat-card">
          <%= link_to boat_path(boat) do %>
            <% if boat.images.attached? && boat.images.first.present? %>
              <%= cl_image_tag(boat.images.first.key, width: 300, height: 200, crop: :fill, class: 'dashboard-boat-card-image') %>
            <% end %>
            <div class="dashboard-boat-card-body">
              <h3 class="dashboard-boat-card-title">
                <%= boat.name %>
                <div class="dashboard-boat-card-actions-container">
                  <%= link_to edit_boat_path(boat) do %>
                    <i class="fas fa-edit dashboard-edit-boat-icon" title="Edit Boat"></i>
                  <% end %>
                  <%= button_to boat_path(boat), method: :delete, data: { confirm: 'Are you sure you want to delete this boat?' }, class: "dashboard-delete-boat-btn" do %>
                    <i class="fas fa-trash dashboard-delete-boat-icon" title="Delete Boat"></i>
                  <% end %>
                </div>
              </h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You have no boats.</p>
  <% end %>
</div>

    <div class="dashboard-header-container">
      <h2 class="dashboard-header">Your Accepted Bookings:</h2>
      <%= link_to "Open Requests (#{@open_requests_count})", "#", class: "open-requests-btn" %>
    </div>
    <% @bookings.select { |booking| booking.status == "accepted" }.each do |booking| %>
      <div class="booking-card">
        <div class="booking-info">
          <span class="booking-boat-name"><strong>Boat:</strong> <%= booking.boat.name %></span>
          <span class="booking-dates">
            <strong>Start Date:</strong> <%= booking.start_date %> -
            <strong>End Date:</strong> <%= booking.end_date %>
          </span>
          <span class="booking-nights">
            <strong>Nights:</strong> <%= (booking.end_date - booking.start_date).to_i %> nights
          </span>
          <span class="booking-location">
            <strong>Location:</strong> <%= booking.boat.location %>
          </span>
        </div>
        <!-- Add any additional information or action buttons here -->
      </div>
    <% end %>
</div>
</div>
