<%= form_for([boat, Review.new], remote: true) do |f| %>
  <div class="form-group">
    <%= f.label :rating %>
    <div class="star-rating">
      <% (1..5).each do |rating| %>
        <label class="star-label">
          <input type="radio" name="review[rating]" value="<%= rating %>" class="star-radio visually-hidden" />
          <span class="star-icon"><i class="fas fa-star"></i></span>
        </label>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit Review' %>
  </div>
<% end %>
