<div class="boat-details">
  <div class= "image-card">
    <h1><%= @boat.name %></h1>
    <h4><%= @boat.location %></h4>

    <% if @boat.images.attached? %>
      <div class="boat-images">
        <% @boat.images.each do |image| %>
          <%= cl_image_tag image.key, class: "boat-image" %>
        <% end %>

    <% else %>
      <p>No images attached.</p>
    <% end %>

  <div class="booking-card">
  <h3 data-boat-price="<%= @boat.price %>"><%= @boat.price %> € per day</h3>
  <%= render "bookings/calendar"%>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</div>
</div>
</div>

  <div class="boat-description">
    <h2>Specs</h2>
    <div class="specs-container">
      <div class="specs-column">
        <div class="specs-card">
          <i class="fas fa-users"></i>
          <p>Capacity: <%= @boat.capacity %> people</p>
        </div>
        <div class="specs-card">
          <i class="fas fa-ship"></i>
          <p>Decks: <%= @boat.decks %></p>
        </div>
        <div class="specs-card">
          <i class="fas fa-user-friends"></i>
          <p>Crew Required: <%= @boat.crew_required %></p>
        </div>
      </div>
      <div class="specs-column">
        <div class="specs-card">
          <i class="fas fa-ruler-horizontal"></i>
          <p>Length: <%= @boat.length %> meters</p>
        </div>
        <div class="specs-card">
          <i class="fas fa-ruler-vertical"></i>
          <p>Width: <%= @boat.width %> meters</p>
        </div>
        <div class="specs-card">
          <i class="fas fa-ruler-vertical"></i>
          <p>Height: <%= @boat.height %> meters</p>
        </div>
      </div>
    </div>
  </div>


<div class="reviews-section">
  <h2>Reviews</h2>
  <div class="row">
    <% @boat.reviews.each do |review| %>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><strong>Rating:</strong> <%= render_stars(review.rating) %></h5>
            <p class="card-text"><strong>Content:</strong> <%= review.content %></p>
            <p class="card-text"><strong>Created by:</strong> <%= review.user.email %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


   <div class="leave-review">
  <h2>Leave a Review</h2>
  <% if user_signed_in? %>
    <% user_booking_for_this_boat = current_user.bookings.find_by(boat_id: @boat.id) %>
    <% if user_booking_for_this_boat %>

      <% if @review.errors.any? %>
  <div class="alert alert-danger">
    <% @review.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>


      <%= render 'reviews/review', boat: @boat, user: current_user %>
    <% else %>
      <p>You can only leave a review for boats you have booked.</p>
    <% end %>
  <% else %>
    <p>Please log in to leave a review.</p>
  <% end %>
</div>
